body {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #2d6cdf;
  text-align: center;
  margin-top: 40px;
}

p {
  font-size: 18px;
  text-align: center;
  color: #444;
}

